// This file was generated for Start Bootstrap Admin Pro
// https://startbootstrap.com/theme/sb-admin-pro
// Place this file in src/scss/_variables-colors-overrides.scss

$primary: #00c2f3;
$secondary: #11aed6;
$success: #a8a9a8;
$danger: #9f2ce8;
$warning: #d2bb57;
$info: #a6c9d2;
